.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 206px;
    margin-top: auto;
    background-color: #444240;
}

.contacts {
    margin-top: -63px;
}

.b {
    color: rgba(0, 0, 0, 75%);
}