nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 85px;

}

ul li {
    /* display: inline; */
}


a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #555248;
    font-size: 14px;
    
}

.logo {
    margin-left: 100px;
}

.nav-list:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-list {
    padding-left: 60px;
    display: inline;
}

.nav-list2 {
    margin-left: 50px;
    display: inline;
}
