.catalog {
    padding: calc(var(--section-padding) + var(--main-header-height)) 0 var(--section-padding);
}

.catalog .container .breadcrumb-list{
    display: flex;
    flex-direction: row;
}

.catalog .container .breadcrumb-list li:not(:first-child):before { 
    content: '';
    display: inline-block;
    background-image: url(../../../img/icons/arrow-breadcrumb.svg);
    background-repeat: no-repeat;
    width: 6px;
    height: 9px;
    margin: 0 14px;
}

.catalog .container .breadcrumb-list img{
    margin-left: 14px;
    transform: translateY(6px);
}

.catalog .breadcrumb-list a{
    font-family: 'Robot', serif;
    font-size: 14px;
    font-weight: 400;
    color: #B3B3B3;
}

.catalog .breadcrumb-list p:nth-child(5) {
    color: #000;
} 

/* .catalog .nav-list .nav-decoration {
    background-image: url(../../../img/icons/catalog-arrow.svg);
    background-repeat: no-repeat;
} */

.catalog .catalog-head {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.catalog .catalog-head h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
}

.catalog .catalog-head > div {
    display: flex;
    align-items: center;
}

.catalog .catalog-head div label {
    font-family: 'Robot', serif;
    font-size: 14px;
    line-height: 152%;
    user-select: none;
}

.catalog .catalog-head div select {
    margin-left: 8px;
}

.catalog .catalog-sorting {
    display: block;
    width: 230px;
    height: 523px;
    border: 1px solid #000;
}

.catalog .catalog-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.catalog .catalog-product .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 836px;
}

.catalog .catalog-product .product-list .product-list-item {
    position: relative;
    width: 252px;
    height: 300px;
    border: 1px solid #000;
    margin-bottom: 40px;
    background-color: #FDFDFB;
}

.catalog .catalog-product .product-list .product-list-item:not(:nth-child(3n)) {
    margin-right: 40px;
}

.catalog .catalog-product .product-list .product-list-item h3 {
    position: absolute;
    transform: translate(22px, 20px);
    font-family: 'Robot', serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 152%;
    font-weight: 700;
    color: #444240;
}

.catalog .catalog-product .product-list .product-list-item b {
    position: absolute;
    transform: translate(22px, 42px);
    font-family: 'Robot', serif;
    font-size: 14px;
    line-height: 152%;
    font-weight: 400;
    color: #636261;
}
