.strap {
    margin: var(--section-padding) 0;
}

.strap .container .strap-header {
    position: relative;
}

.strap .container .strap-header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
}

.strap .container .strap-header a {
    position: absolute;
    top: 25px;
    right: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #444240;
}

.strap .container .strap-header a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -8px;
    left: 0;
    background-color: #8B8371;
    height: 1px;
}

.strap .container .strap-catalog {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    position: relative;
}

.strap .container .strap-catalog .prev-btn {
    margin-right: 40px;
    height: 20px;
    width: 20px;
    position: absolute;
    transform: translate(-40px, 175px);
}

.strap .container .product-list {
    display: flex;
    flex-direction: row;
    position: relative;
}

.strap .container .product-list .product-info h3 {
    position: absolute;
    transform: translate(20px, 20px);
}

.strap .container .product-list .product-info b {
    position: absolute;
    transform: translate(20px, 42px);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #636261;
}

.strap .container .strap-catalog .next-btn {
    margin-right: 40px;
    height: 20px;
    width: 20px;
    position: absolute;
    transform: translate(1199px, 175px);
}
